body {
    --paper-border-width: 4px;
    --paper-accent: #3819e4;
    --paper-background: #fff;
}

.paper {
    display: block;
    background: var(--paper-background);
    box-shadow: 0 5px 12px -2px rgba(0, 0, 0, .4);
    transform: none;
    box-sizing: border-box;
    border: 0;
    outline: none;
    padding: .5em 1em;
    border-radius: 0;
    text-decoration: none;
}

.paper.wrap {
    padding: 0;
}

.paper.movable {
    cursor: pointer;
    transition: transform .15s, box-shadow .15s, background .15s;
    font-weight: bold;
}

.paper.colored {
    color: var(--paper-accent);
}

.paper.movable:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 22px -1px rgba(0, 0, 0, .24);
}

.paper.movable:active {
    transform: translateY(1px);
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
}

.paper.accent {
    background: var(--paper-accent);
    color: var(--paper-background);
}

.paper.paper-border-left {
    border-left: var(--paper-border-width) solid var(--paper-accent);
}

.paper.paper-border-right {
    border-right: var(--paper-border-width) solid var(--paper-accent);
}

.paper.paper-border-top {
    border-top: var(--paper-border-width) solid var(--paper-accent);
}

.paper.paper-border-bottom {
    border-bottom: var(--paper-border-width) solid var(--paper-accent);
}

.paper.accent.paper-border-left {
    border-left: var(--paper-border-width) solid var(--paper-background);
}

.paper.accent.paper-border-right {
    border-right: var(--paper-border-width) solid var(--paper-background);
}

.paper.accent.paper-border-top {
    border-top: var(--paper-border-width) solid var(--paper-background);
}

.paper.accent.paper-border-bottom {
    border-bottom: var(--paper-border-width) solid var(--paper-background);
}
